<section id="viewItemLarge" data-text="10" class="viewItem-large">
    <article class="viewItem-large-head">
          
        <h2 id="viewItemLargeName"class="viewItem-large-head-title">Kit Mouse y Teclado Kanji / Kj-km32</h2>
    </article>

    <article class="viewItem-large-controls">


        <div id="perifericos"class="backToList icon-untitled97"></div>   

        

        <div class="viewItem-large-controls-share">       

            <a id="watsapp" data-text="" data-link="http://www.mabit.com.ar" class="viewItem-large-controls-share-whatsapp  icon-untitled136">
            </a>
            
                 
            <a id="twiter"target="_blank" id="viewItemLargeShareTwiter" href="" class="btwitter viewItem-large-controls-share-twiter" title="Compartelo en Twitter"><span class="icon-untitled53"></span></a> 
                    

                     
            <a id="Facebook" class="viewItem-large-controls-share-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http://mabit.com.ar">
            <span class="icon-facebook2"></span></a>  

  
 
            <a id="eMail" class="viewItem-large-controls-share-email" href=""><span class="icon-untitled120"></span></a>

        </div> 
   </article>

    <article class="viewItem-large-gallery">

       <div  class="viewItem-large-gallery-bigSize">
           
        <figure id="contentImage" class="viewItem-large-gallery-bigSize-figure">
            <img id="viewItemLargeImage" class="gallery-bigSize-picture opacity" src="images/item/Teclado-comun.png" width="250" height="250">
        </figure>    
           
       </div> 
    
        <figure class="viewItem-large-gallery-smallSize">


            <img id="kanji.png" class="gallery-smallSize-picture opacity" src="images/item/kanji.png" alt="" width="100" height="100"> 
            
            <img id="Teclado-comun.png" class="gallery-smallSize-picture opacity" src="images/item/Teclado-comun.png" alt="" width="100" height="100">
                    
        </figure>
    </article>

    <article class="viewItem-price">
        Precio Contado
        <span id="viewItemLargePrice"class="viewItem-price-amount">$290</span>
    </article>

    <article class="viewItem-accountant">
        Cantidad
        <select id="viewItemLargeAccountant"class="viewItem-accountant-item">
            <option selected="selected"sclass="viewItem-accountant-item-value" value="1">1</option>
            <option class="viewItem-accountant-item-value" value="2">2</option>
            <option class="viewItem-accountant-item-value" value="3">3</option>
        </select>

        <div class="viewItem-stock">
            <span id="viewItemLargeIconStock"class="icon-untitled184"></span>
            <span id="viewItemLargeStock"class="viewItem-stock-item">En Stock</span>
        </div>
    </article>

    <article class="viewItem-large-shipping">
            <div class="viewItem-large-truck">
                
                <span>
                    <span class="truck icon-untitled134"></span>
                    Realizamos envíos a todo el país realice su consulta.
                </span>
            </div>
        <span class="viewItem-shipping">    
        </span>
    </article>

    <article class="viewItem-large-description">
        <h3 class="viewItem-large-description-title">
            <span class="icon-untitled25"></span>
           Descripción</h3>
        <span id="viewItemLargeDescription"class="viewItem-large-description-text">    
           Controlá tu equipo con comodidad y experimentá la comodidad de la tecnología Kanji.
 
            Mouse de 6 teclas con navegación de tecnología óptica, superior a la tecnología del mouse con bola. Sensor de alta calidad y precision.
            Estilo y confort en la palma de tu mano: disfrutá de un mouse con apariencia elegante, de confortable forma que encaja perfectamente en ambas manos.
            Teclado Multimedia con 9 Teclas oficiales multimedia:
            Teclas Multimedia: Internet: Web, E-mail. canción anterior, siguiente. volumen +, volumen -, pausa, reproductor, silencio.
            Número de teclas: 107/108
            Compatible con: Windows 95/98, XP, Vista, Seven.
            Kanji teclados multimedia para windows ofrece funciones
            adicionales tales como: acceso instantáneo a internet y e-mail.
            Activá reproductores de música y videos.
            Para ahorrar espacio de escritorio. Formato achatado.
            
        </span>   
    </article>
    
    <article class="viewItem-large-details">
        <h3 class="viewItem-large-details-title">
            <span class="icon-untitled167"></span>
        Datos Técnicos
        </h3>

        <table class="viewItem-large-details-item">
            <colgroup style="width:45%;"></colgroup>
            <colgroup style="width:55%;"></colgroup>
            
            <thead>
                <tr>
                    <th colspan="2">Características Generales</th>
                </tr>
            </thead>


                <tbody>
                    <tr>
                        <th>Marca</th>
                        <td>Kanji</td>
                    </tr>

                    <tr>
                        <th>Modelo</th>
                        <td>Kj-km32</td>
                    </tr>

                    <tr>
                        <th>Número de teclas</th>
                        <td>107/108</td>
                    </tr>


                    <tr>
                        <th>Mouse</th>
                        <td>6 teclas</td>
                    </tr>

                    <tr>
                        <th>Resolución de sensor </th>
                        <td>superior de 1000dpi</td>
                    </tr>



                    <tr>
                        <th>sensor óptico</th>
                        <td>1000dpi con un escaneo de 3000 marcos por segundo</td>
                    </tr>

                    <tr>
                        <th>Teclas Multimedia</th>
                        <td>Internet: Web, E-mail. canción anterior, siguiente. volumen +, volumen -, pausa, reproductor, silencio</td>
                    </tr>



                
                </tbody>
        </table>
    </article>

    <article class="viewItem-large-Email">
        
        <div class="messageForms">
            <span class="messageError"></span>
            <span class="messageExito"></span>
        </div>
        
        <form id="form" class="softwareMedida-form">
            <h2 class="softwareMedida-form-title">
                <span class="softwareMedida-form-title-icon icon-untitled209"></span>    
                    Envíenos su consulta o realice su pedido:
            </h2>
            
            <input id="formEmpresa"class="softwareMedida-form-formInput"  type="text" placeholder="Empresa"name="formEmpresa"required/>
       
            <input id="formNombre"class="softwareMedida-form-formInput"  type="text" placeholder="Nombre y Apellido"name="formNombre"required/>
       
            <input id="emailForm"class="softwareMedida-form-formInput" type="email" placeholder="Email" name="formEmail"required/>
        
            <input id="formTelefono"class="softwareMedida-form-formInput" type="number" min="8" placeholder="Teléfono" name="formTelefono"required/>

            <input style="display:none" type="text" id="nameText"/>
        
            <textarea id="dataBuy"class="softwareMedida-form-formInput softwareMedida-form-textarea" placeholder="Escriba aquí su consulta" lang="es" dir="Itr" name="formData"required>
            </textarea>

            <div class="g-recaptcha" data-sitekey="6LeK8gkTAAAAAPCNFQd83KIVR0fItH5QZxDiEzr3"></div>
        
    
            <input type="hidden" name="formFour">

             <input type="hidden" name="formOrigin" value="Venta de Hardware">
        
        
            <button class="softwareMedida-form-button">
           
                <span class="softwareMedida-form-button-icon icon-untitled209"></span> 
                 Enviar Mensaje
            </button>
        </form>
       
    </article>
</section>



<script src="https://www.google.com/recaptcha/api.js"></script>   
<script> 
    var url1 ="js/viewItemLarge-Controller.js"
     jQuery.getScript(url1);
</script>   
