<section id="viewItemLarge" data-text="14" class="viewItem-large">
    <article class="viewItem-large-head">
          
        <h2 id="viewItemLargeName"class="viewItem-large-head-title">Power Bank - Fuente de energia Portátil Kanji</h2>
    </article>

    <article class="viewItem-large-controls">


        <div id="telefonia"class="backToList icon-untitled97"></div>   

        

        <div class="viewItem-large-controls-share">       

            <a id="watsapp" data-text="" data-link="http://www.mabit.com.ar" class="viewItem-large-controls-share-whatsapp  icon-untitled136">
            </a>
            
                 
            <a id="twiter"target="_blank" id="viewItemLargeShareTwiter" href="" class="btwitter viewItem-large-controls-share-twiter" title="Compartelo en Twitter"><span class="icon-untitled53"></span></a> 
                    

                     
            <a id="Facebook" class="viewItem-large-controls-share-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http://mabit.com.ar">
            <span class="icon-facebook2"></span></a>  

  
 
            <a id="eMail" class="viewItem-large-controls-share-email" href=""><span class="icon-untitled120"></span></a>

        </div> 
   </article>

    <article class="viewItem-large-gallery">

       <div  class="viewItem-large-gallery-bigSize">
           
        <figure id="contentImage" class="viewItem-large-gallery-bigSize-figure">
            <img id="viewItemLargeImage" class="gallery-bigSize-picture opacity" src="images/item/power-bank.jpg" width="250" height="250">
        </figure>    
           
       </div> 
    
        <figure class="viewItem-large-gallery-smallSize">

            <img id="kanji.png" class="gallery-smallSize-picture opacity" src="images/item/kanji.png" alt="" width="100" height="100"> 

            <img id="power-bank.jpg" class="gallery-smallSize-picture opacity" src="images/item/power-bank.jpg" alt="" width="100" height="100">

            
            
        </figure>
    </article>

    <article class="viewItem-price">
        Precio Contado
        <span id="viewItemLargePrice"class="viewItem-price-amount">$450</span>
    </article>

    <article class="viewItem-accountant">
        Cantidad
        <select id="viewItemLargeAccountant"class="viewItem-accountant-item">
            <option selected="selected"sclass="viewItem-accountant-item-value" value="1">1</option>
            <option class="viewItem-accountant-item-value" value="2">2</option>
            <option class="viewItem-accountant-item-value" value="3">3</option>
        </select>

        <div class="viewItem-stock">
            <span id="viewItemLargeIconStock"class="icon-untitled184"></span>
            <span id="viewItemLargeStock"class="viewItem-stock-item">En Stock</span>
        </div>
    </article>

    <article class="viewItem-large-shipping">
            <div class="viewItem-large-truck">
                
                <span>
                    <span class="truck icon-untitled134"></span>
                    Realizamos envíos a todo el país realice su consulta.
                </span>
            </div>
        <span class="viewItem-shipping">    
        </span>
    </article>

    <article class="viewItem-large-description">
        <h3 class="viewItem-large-description-title">
            <span class="icon-untitled25"></span>
           Descripción</h3>
        <span id="viewItemLargeDescription"class="viewItem-large-description-text">    
           Fuente de energia portátil 5000Mah de potencia Kanji. Quedarte sin carga ya no es un problema. Lo conectás y listo, muy fácil de usar!!!. 
           Carcasa de Aluminio, indicador de carga, cable micro USB, adaptador de Iphone. Carga de 1,5 Amp y de 2,1 Amp
            
        </span>   
    </article>
    
    <article class="viewItem-large-details">
        <h3 class="viewItem-large-details-title">
            <span class="icon-untitled167"></span>
        Datos Técnicos
        </h3>

        <table class="viewItem-large-details-item">
            <colgroup style="width:45%;"></colgroup>
            <colgroup style="width:55%;"></colgroup>
            
            <thead>
                <tr>
                    <th colspan="2">Características Generales</th>
                </tr>
            </thead>


                <tbody>
                    <tr>
                        <th>Marca</th>
                        <td>Kanji</td>
                    </tr>

                    <tr>
                        <th>Modelo</th>
                        <td>KANJI 5000MAH</td>
                    </tr>

                    <tr>
                        <th>Se pueden recargar:</th>
                        <td>Celulares - Tablets - Camaras - Juegos Portátiles - MP3 / MP4 - Dispositivos USB</td>
                    </tr>

                    

                
                </tbody>
        </table>
    </article>

    <article class="viewItem-large-Email">
        
        <div class="messageForms">
            <span class="messageError"></span>
            <span class="messageExito"></span>
        </div>
        
        <form id="form" class="softwareMedida-form">
            <h2 class="softwareMedida-form-title">
                <span class="softwareMedida-form-title-icon icon-untitled209"></span>    
                    Envíenos su consulta o realice su pedido:
            </h2>
            
            <input id="formEmpresa"class="softwareMedida-form-formInput"  type="text" placeholder="Empresa"name="formEmpresa"required/>
       
            <input id="formNombre"class="softwareMedida-form-formInput"  type="text" placeholder="Nombre y Apellido"name="formNombre"required/>
       
            <input id="emailForm"class="softwareMedida-form-formInput" type="email" placeholder="Email" name="formEmail"required/>
        
            <input id="formTelefono"class="softwareMedida-form-formInput" type="number" min="8" placeholder="Teléfono" name="formTelefono"required/>

            <input style="display:none" type="text" id="nameText"/>
        
            <textarea id="dataBuy"class="softwareMedida-form-formInput softwareMedida-form-textarea" placeholder="Escriba aquí su consulta" lang="es" dir="Itr" name="formData"required>
            </textarea>

            <div class="g-recaptcha" data-sitekey="6LeK8gkTAAAAAPCNFQd83KIVR0fItH5QZxDiEzr3"></div>
        
    
            <input type="hidden" name="formFour">

             <input type="hidden" name="formOrigin" value="Venta de Hardware">
        
        
            <button class="softwareMedida-form-button">
           
                <span class="softwareMedida-form-button-icon icon-untitled209"></span> 
                 Enviar Mensaje
            </button>
        </form>
       
    </article>
</section>


<script src="https://www.google.com/recaptcha/api.js"></script>   
<script> 
    var url1 ="js/viewItemLarge-Controller.js"
     jQuery.getScript(url1);
</script>   

