<section id="viewItemList"class="contents-show">

    <article class="items-panel">
        <span class="backToMenu icon-untitled97"></span>    
        <h2 id="breadcrumbs"class="breadcrumbs">Hardware Informático -> Pc. Escritorio </h2>   
    </article>    

    <section class="contents-show-items">
        
        <article class="contents-show-item-list">

            <figure id="1"class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/pc-hogar.png" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="1"class="showList-item-panels-description">
                    <a href="#Pc-Escritorio" class="listItem-description-article">PC HOGAR/sin monitor - Linux / RAM 4G / HDD 500GB</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article"> $5.200</span>
                    </div>

                    <button id="1"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                                
                    
                                                   
                </div>
                                
            </div>            
        </article>

        <article class="contents-show-item-list">

            <figure id="2" class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/pc-core-i3.png" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="2" class="showList-item-panels-description">
                    <a  href="#Pc-Escritorio" class="listItem-description-article">PC CORE I3/sin monitor - WINDOWS 8.1 ORIGINAL / RAM 4G / HDD 500GB / Actualiza a Windows 10 gratis!</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article"> $8.600</span>
                    </div>

                    <button id="2"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                   
                </div>
                
            </div>            
        </article>
    
    </section>  

</section>

<script> 
    var url ="js/hardwareViewitemList-controller.js"
     jQuery.getScript(url);
</script> 

