<section id="viewItemList"class="contents-show">
    <article class="items-panel">
        <span class="backToMenu icon-untitled97"></span>    
        <h2 id="breadcrumbs"class="breadcrumbs">Hardware Informático -> Periféricos </h2>   

    </article>    


    <section class="contents-show-items">  
        
        <article class="contents-show-item-list">

            <figure id="7" class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/Auriculares-858.png" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="7"class="showList-item-panels-description">
                    <a href="#Notebooks" class="listItem-description-article">Auriculares 858 Mv- Con Microfóno</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article"> $210</span>
                    </div>

                    <button id="7"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                                
                    
                                                   
                </div>
                                
            </div>            
        </article>

        <article class="contents-show-item-list">

            <figure id="8"class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/Auriculares-100MV.png" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="8"class="showList-item-panels-description">
                    <a href="#Descripcíon" class="listItem-description-article">Auriculares Kanji Kj-100 Con Microfono</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article"> $210</span>
                        
                    </div>
                                                                
                    <button id="8"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                   
                </div>
                
            </div>            
        </article> 

        <article class="contents-show-item-list">

            <figure id="9"class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/Auricular-SH1.png" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="9"class="showList-item-panels-description">
                    <a href="#Descripcíon" class="listItem-description-article">Auriculares Kanji Shima KJ-SH1/2</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article">$270</span>
                        
                    </div>
                                                                
                    <button id="9"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                   
                </div>
                
            </div>            
        </article>

        <article class="contents-show-item-list">

            <figure id="10"class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/Teclado-comun.png" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="10"class="showList-item-panels-description">
                    <a href="#Descripcíon" class="listItem-description-article">Kit Mouse y Teclado Kanji</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article"> $290</span>
                        
                    </div>
                                                                
                    <button id="10"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                   
                </div>
                
            </div>            
        </article> 
 
        <article class="contents-show-item-list">

            <figure id="11"class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/Auricular-SH3-4.png" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="11"class="showList-item-panels-description">
                    <a href="#Descripcíon" class="listItem-description-article">Auriculares Kanji Shima KJ-SH3/4</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article"> $290</span>
                        
                    </div>
                                                                
                    <button id="11"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                   
                </div>
                
            </div>            
        </article> 

        <article class="contents-show-item-list">

            <figure id="12"class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/Teclado-inalambrico.png" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="12"class="showList-item-panels-description">
                    <a href="#Descripcíon" class="listItem-description-article">Teclado y Mouse Inalámbricos Kanji</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article">$405</span>
                        
                    </div>
                                                                
                    <button id="12"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                   
                </div>
                
            </div>            
        </article> 

        <article class="contents-show-item-list">

            <figure id="13"class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/Harrison366-1.png" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="13"class="showList-item-panels-description">
                    <a href="#Descripcíon" class="listItem-description-article">Parlantes REVO 3-(H-366)</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article">$999</span>
                        
                    </div>
                                                                
                    <button id="13"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                   
                </div>
                
            </div>            
        </article>

    </section>  
</section>

<script> 
    var url ="js/hardwareViewitemList-controller.js"
     jQuery.getScript(url);
</script> 

