<section id="viewItemList"class="contents-show">
    
    <article class="items-panel">
        <span class="backToMenu icon-untitled97"></span>    
        <h2 id="breadcrumbs"class="breadcrumbs">Hardware Informático -> Tablets </h2>   
    </article>    


    <section class="contents-show-items">  
        
        <article class="contents-show-item-list">

            <figure id="3"class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/Xtreme-play.png" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="3"class="showList-item-panels-description">
                    <a href="#Pc-Escritorio" class="listItem-description-article">Tablet XTREME PLAY V2 7”</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article"> $1.250</span>
                    </div>

                    <button id="3"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                                
                    
                                                   
                </div>
                                
            </div>            
        </article>
        
        <article class="contents-show-item-list">

            <figure id="4"class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/Haier-9.png" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="4"class="showList-item-panels-description">
                    <a href="#Pc-Escritorio" class="listItem-description-article">Tablet HAIER 9”</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article"> $1.650</span>
                    </div>

                    <button id="4"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                                
                    
                                                   
                </div>
                                
            </div>            
        </article>

        <article class="contents-show-item-list">

            <figure id="5"class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/YUBI-7.png" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="5"class="showList-item-panels-description">
                    <a href="#Pc-Escritorio" class="listItem-description-article">Tablet YUBI 7" Atom Z2520 1 Gb 8 Gb De Almacenamiento</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article"> $2.100</span>
                    </div>

                    <button id="5"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                                
                    
                                                   
                </div>
                                
            </div>            
        </article>

        <article class="contents-show-item-list">

            <figure id="6"class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/INDO-8.png" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="6"class="showList-item-panels-description">
                    <a href="#Pc-Escritorio" class="listItem-description-article">Tablet INDO 8" S/kb - Windows 8.1</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article"> $3.290</span>
                    </div>

                    <button id="6"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                                
                    
                                                   
                </div>
                                
            </div>            
        </article>



        
    </section>  
</section>

<script> 
    var url ="js/hardwareViewitemList-controller.js"
     jQuery.getScript(url);
</script> 