<section id="viewItemList"class="contents-show">
    <article class="items-panel">
        <span class="backToMenu icon-untitled97"></span>    

        <h2 id="breadcrumbs"class="breadcrumbs">Hardware Informático -> Accesorios de Telefonía </h2>   

    </article>    


    <section class="contents-show-items">  
        
        <article class="contents-show-item-list">

            <figure id="14" class="showList-item-image opacity">
                <img class="showList-item-image-picture opacity" src="images/item/power-bank.jpg" alt="" width="150" height="150">
           </figure>
                                    
            <div class="showList-item-panels">
                                        
                <div id="14"class="showList-item-panels-description">
                    <a href="#Notebooks" class="listItem-description-article">Fuente de energia portátil Kanji 5000Mah</a>    
                </div>
                                                    
                <div class="showList-item-panels-price">
                                                    
                    <div class="listItem-price-normal">Precio Contado
                        <span class="listItem-price-normal-article"> $450</span>
                    </div>

                    <button id="14"class="listItem-buy">
                        <span class="icon-untitled142"></span>Comprar
                    </button>
                                                                
                    
                                                   
                </div>
                                
            </div>            
        </article>

        
        
    </section>  
</section>
<script> 
    var url ="js/hardwareViewitemList-controller.js"
     jQuery.getScript(url);
</script> 