box-shadow = rgba(36,24,70,0.7) -5px 5px 20px, 1px 1px 5px gris-claro inset
gris-claro = #8A8A96
gris-oscuro = #29292D
lila = #764BDF
verde = #52D053

.contents-home-softwareMedida
	background #FFFFFF
	overflow hidden
	.software-title
		background #FFFFFF
		box-sizing border-box
		color #0B6121
		font-size 1.1em
		font-weight 500
		margin 1em auto
		overflow hidden
		padding 0 1em 
		text-align left
	.software-description
		background #FFFFFF
		box-sizing border-box
		font-size 1em
		margin 0 auto 1em auto
		padding 0 1em
		text-align left
		width 100%
		word-wrap breack-word
	.software-logos
		font-size 0
		margin 1em auto
		width 100%
		&-item
			background #FFFFFF
			box-sizing border-box
			display inline-block
			padding 1rem
			text-align center
			width 25%
			&-image
				margin 0 auto
	.softwareMedida-form
		background #ADC3FF
		height auto
		margin 1em auto 3em auto
		padding 1em 0
		width 100%
		&-title
			color gris-oscuro
			font-size 1.2em
			font-weight 500
			line-heigth 2.2em
			margin 0 auto
			padding .5em		
			text-align center
			width 80%
			&-icon
				font-size 1.5em
				vertical-align middle
		&-formInput
			border 0
			box-sizing border-box
			display block
			font-size 1em
			margin 1em auto
			outline lila
			padding .5em
			width 80%
		&-textarea
			background #FFFFFF
			border 0
			box-sizing border-box
			display block
			font-family 'Varela Round', sans-serif
			font-size 1em
			height 200px
			margin 0 auto
			outline lila
			overflow auto
			padding .5em
			width 80%
			word-wrap breack-word
		&-button
			background gris-claro
			border 0
			box-shadow box-shadow
			color #FFFFFF
			display block
			font-size 1em
			font-weight 500
			margin 2em auto
			padding 1em
			text-transform uppercase
			width 80%
			&-icon
				font-size 1.5em
				vertical-align middle
				margin-right .2em	
					
		.g-recaptcha
			box-sizing border-box
			margin-top 1rem
			margin-left calc((100% - 300px)/2) 
	
	.message-FacturaE
		background lila
		height auto
		padding 1em
		margin 0 auto 2em auto
		width 80%
		text-align left
		font-weight 550
		box-shadow box-shadow
		font-size 1.2em
		color #FFFFFF
		span
			font-size 1.5em
			vertical-align middle

@media screen and (min-width:790px)
	
	.contents-home-softwareMedida
		.software-logos
			width 80%
		.software-description
			margin 1em auto 3em auto
			width 80%
		.software-title
			text-align center					
		.message-FacturaE
			border-radius 1em
			box-sizing border-box
			display block
			margin 3em auto 0 auto
			padding 1em
			text-align center
			width 80%
			span
				margin-right .5em
		.softwareMedida-form
			width 70%
			border-radius 1em
			margin-botton 3em important
			box-shadow box-shadow
			&-button
				width 30%
				border-radius 1em		


					
				
						