.contents-compare
	background #FFFFFF
	height auto
	min-height 500px
	margin 1em auto 2em auto 
	max-width 1070px
	overflow scroll
	position relative 
	&-head
		background gris-claro
		color #FFFFFF
		display block
		font-size 1.1em
		line-height 1.7em
		margin .3em auto 1em auto
		min-width 1050px
		padding .5em
		position relative 
		span
			color orange
			font-size 1.5em
			margin 0 1em
			vertical-align middle
			max-width 100%
	&-list
		background #FFFFFF
		height auto
		margin 0 auto
		min-width 1050px
		padding 0
		&-column
			background #FFFFFF
			height auto
			margin 0
			min-width 1050px
			overflow hidden
			padding 0
			&-item
				background #FFFFFF
				display inline-block
				font-size .8em
				margin 0 	
				overflow hidden
				padding 0
				min-width 50px
				max-width 200px
				.column-filter
					background #FFFFFF
					border-bottom 1px solid gris-oscuro
					box-sizing border-box
					line-height 50px
					margin 0
					min-height 50px
					min-width 50px
					max-width 200px
					overflow hidden
					text-align center
				.filter-title
					border-bottom 1px solid #FFFFFF
					color lila
					overflow hidden
					word-wrap break-word	
				.column-figure
					background #FFFFFF
					height 150px
					margin 0
					max-height 150px
					padding 0
					text-align center
					&-image
						margin 0
						max-height 150px
						width auto
				.column-name
					background #FFFFFF
					border-bottom 1px solid gris-oscuro
					height 60px
					margin 0
					max-height 60px
					overflow hidden
					padding 5px
					text-align center
					word-wrap break-word
				.column-nameTitle
					border-bottom 1px solid #FFFFFF
					color lila
					line-height 48px
				.column-mark
					background #FFFFFF
					border-bottom 1px solid gris-oscuro
					line-height 50px
					margin 0
					min-height 50px
					overflow hidden
					text-align center
				.column-markTitle
					border-bottom 1px solid #FFFFFF				
					color lila
				.column-price
					background #FFFFFF
					line-height 50px
					margin 0
					min-height 50px
					overflow hidden
					text-align center
				.column-priceTitle
					color lila
				.column-demand
					background #FFFFFF
					margin 0 auto 2em auto
					text-align center
					width 100%
					&-button
						-moz-tap-highlight-color rgba(0,0,0,0)
						-ms-tap-highlight-color rgba(0,0,0,0)
						-webkit-tap-highlight-color rgba(0,0,0,0)
						background lila
						border 0
						border-radius 1em
						color #FFFFFF
						font-size 1em
						line-height 30px
						margin .5em auto
						max-height 30px
						min-height 30px
						outline none
						overflow hidden
						text-align center
						width 80%		 
				.column-demand-title				
					.column-demand-button
						-moz-tap-highlight-color rgba(0,0,0,0)
						-ms-tap-highlight-color rgba(0,0,0,0)
						-webkit-tap-highlight-color rgba(0,0,0,0)
						background transparent
						color transparent
						width 100%		 
					
				
				