.wrapperContact
	width 100%
	overflow hidden
	box-sizing border-box
.contact-title
	color  gris-oscuro
	box-sizing border-box
	padding .5em
	font-size 1.5em
	margin 0 auto
	width 100%
.contact-description
	background transparent
	box-sizing border-box
	margin 0 auto
	padding .5em
	width 100%
.contact-mail
	background gris-claro
	color #FFFFFF
	text-align center
	margin 2em auto 3em auto
	display block
	box-sizing border-box
	box-shadow box-shadow		
.contact-map
	background #e9e5dc
	box-sizing border-box
	margin 1em auto 
	height auto
	width 100%
	box-sizing border-box

.softwareMedida-form
		background #ADC3FF
		box-sizing border-box
		height auto
		margin 1em auto
		padding 1em 0
		width 100%
		&-title
			color gris-oscuro
			font-size 1.2em
			font-weight 500
			box-sizing border-box
			word-break keep-all
			margin 0 auto
			padding .5em		
			text-align left
			width 100%
			&-icon
				font-size 1.5em
				vertical-align middle
		&-formInput
			border 0
			box-sizing border-box
			display block
			font-size 1em
			margin 1em auto
			outline lila
			padding .5em
			width 80%
		&-textarea
			background #FFFFFF
			border 0
			box-sizing border-box
			display block
			font-family 'Varela Round', sans-serif
			font-size 1em
			height 200px
			margin 0 auto
			outline lila
			overflow auto
			padding .5em
			width 80%
			word-wrap breack-word
			
		&-button
			background gris-claro
			border 0
			box-shadow box-shadow
			color #FFFFFF
			display block
			font-size 1em
			font-weight 500
			margin 2em auto
			padding 1em
			text-transform uppercase
			width 80%
			&-icon
				font-size 1.5em
				vertical-align middle
				margin-right .2em
					
		.g-recaptcha
			box-sizing border-box
			margin-top 1rem
			margin-left calc((100% - 300px)/2) 	
			
@media screen and (min-width:790px)
	
	.wrapperContact
		width 95%
		padding 1em 0
	.contact-description
		margin-left 1.5em
	.contact-title
		margin-left 1em	
	.contact-mail
		background gris-claro
		color #FFFFFF
		text-align center
		margin 2em auto 3em auto
		display block		
	.contact-map
		width 80%
		border 1px solid gris-claro
		border-radius 1em
		overflow hidden
		box-sizing border-box
		margin-bottom 3em
		display block 
		box-shadow box-shadow
	.softwareMedida-form
		width 70%
		box-shadow box-shadow
		border-radius 1em
		&-title
			text-align center
		&-button
			width 50%
			border-radius 1em
			&:hover
				cursor pointer		
			