box-shadow = rgba(36,24,70,0.7) -5px 5px 20px, 1px 1px 5px gris-claro inset
gris-claro = #8A8A96
gris-oscuro = #29292D
lila = #764BDF
verde = #52D053

vendor-prefixes = webkit o ms moz official

.contents-show
	background #FFFFFF
	height auto
	min-height 450px
	width 100%		
	.items-panel
		background #FFFFFF
		margin 0
		padding 0	
		.breadcrumbs
			background #FFFFFF
			color gris-oscuro
			font-size 1em
			font-weight normal
			margin 0 auto 
			padding 1em 0 0 .3em
			.backToMenu
				display inline-block
				font-size 1.7em
				margin 0 .5em	
				vertical-align middle
							
	&-items
		background #FFFFFF
		height auto
		.contents-show-item-mosaico
			background #FFFFFF
			border 0.1rem solid gris-claro
			border-radius 1rem
			box-sizing border-box
			display inline-block
			font-size 0
			height auto
			margin 5%
			overflow hidden
			padding 0
			position relative
			width 90%
			.show-item-image
				background #FFFFFF
				height 150px
				margin 0 auto
				width 150px
				&-picture
					background #FFFFFF
					height 100%
					margin 0 auto
					width 100%
		.show-item-panels
			background #FFFFFF
			margin 0
			padding 0
			text-align left
			width 100%
			&-description
				background #FFFFFF
				box-sizing border-box
				font-size 1rem
				height auto
				margin 0
				overflow hidden
				padding .3rem
				text-align center
				width 100%
				.viewItem-large
					background #FFFFFF
					box-sizing border-box
					overflow hidden
					&-details
						background #FFFFFF
						border solid 1px #380B61
						display none
						height auto
						margin 0 auto
						width 95%
						&-title
							background #380B61
							box-sizing border-box 
							color #FFFFFF
							font-size 1em
							margin 0 auto
							overflow hidden
							padding .5em
							width 100%
							span
								margin-right 1em
						&-item
							background #FFFFFF
							height auto
							text-align left
							width 100%
							thead
								background #A4A4A4
								text-align center
							th
								padding .7em
				.item-description-article
					background #FFFFFF
					color gris-oscuro
					font-size .8em
					height auto
					min-height 1.6em
					overflow hidden
					padding .5em 0
					width 100%
			.show-item-controls
				background transparent
				color gris-oscuro
				font-size 1rem
				height 36px
				position absolute
				right 0
				text-align right
				top 0
				width 100%
				&-info		
					color verde
					font-size 1.5rem
					margin-right .5rem
					padding .5rem
				&-infoHidden
					display none
			
			.formBuy
				background #ADC3FF
				display none
				height auto
				margin 1rem auto
				width 100%
				&-title
					font-size 1rem
					padding .5rem
					text-align center
					&-icon
						font-size 1.5rem
						vertical-align middle
				&-formInput
					background #FFFFFF
					display block
					font-size 1rem
					margin 0.5rem auto
					padding .5rem
					width 90%
				&-textarea
					background #FFFFFF
					display block
					font-family 'Varela Round', sans-serif
					font-size 1rem
					margin 0.5rem auto
					padding .5rem
					width 90%
				.g-recaptcha
					margin-left calc((100% - 300px)/2) 	
				&-button		
					border 0
					border-radius .5rem
					font-size 1rem
					margin-bottom 5%
					margin-left 3%
					margin-top 5%
					outline none
					padding 1rem
					width 45%
					&-icon
						font-size 1.5rem
						vertical-align middle
						
									
				

			&-price
				background #FFFFFF
				font-size .8rem
				margin .5rem auto
				overflow hidden
				text-align center
				width 100%
				.item-price-normal
					background #FFFFFF
					display block
					overflow hidden
					&-article
						color lila
						display block
						font-size 1rem
						font-weight 600
				.item-price-demand
					-moz-tap-highlight-color rgba(0,0,0,0)
					-ms-tap-highlight-color rgba(0,0,0,0)
					-webkit-tap-highlight-color rgba(0,0,0,0)
					background #6E6E6E
					border 0
					border-radius .5em
					color #FFFFFF
					display block
					font-size 1rem
					font-weight 550
					margin .5rem auto
					outline none
					padding .5rem
					width 50%
					

	
				