@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-s795a6');
	src:url('../fonts/icomoon.eot?#iefix-s795a6') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-s795a6') format('truetype'),
		url('../fonts/icomoon.woff?-s795a6') format('woff'),
		url('../fonts/icomoon.svg?-s795a6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sin título:before {
	content: "\e60e";
}
.icon-untitled4:before {
	content: "\e60f";
}
.icon-untitled6:before {
	content: "\e610";
}
.icon-untitled7:before {
	content: "\e611";
}
.icon-untitled8:before {
	content: "\e612";
}
.icon-untitled15:before {
	content: "\e613";
}
.icon-untitled16:before {
	content: "\e614";
}
.icon-untitled17:before {
	content: "\e615";
}
.icon-untitled18:before {
	content: "\e616";
}
.icon-untitled19:before {
	content: "\e617";
}
.icon-untitled20:before {
	content: "\e618";
}
.icon-untitled21:before {
	content: "\e619";
}
.icon-untitled22:before {
	content: "\e61a";
}
.icon-untitled23:before {
	content: "\e61b";
}
.icon-untitled25:before {
	content: "\e61c";
}
.icon-untitled26:before {
	content: "\e61d";
}
.icon-untitled28:before {
	content: "\e61e";
}
.icon-untitled29:before {
	content: "\e61f";
}
.icon-untitled30:before {
	content: "\e620";
}
.icon-untitled31:before {
	content: "\e621";
}
.icon-untitled32:before {
	content: "\e622";
}
.icon-untitled33:before {
	content: "\e623";
}
.icon-untitled34:before {
	content: "\e624";
}
.icon-untitled35:before {
	content: "\e625";
}
.icon-untitled36:before {
	content: "\e626";
}
.icon-untitled37:before {
	content: "\e627";
}
.icon-untitled38:before {
	content: "\e628";
}
.icon-untitled39:before {
	content: "\e629";
}
.icon-untitled41:before {
	content: "\e62a";
}
.icon-untitled42:before {
	content: "\e62b";
}
.icon-untitled43:before {
	content: "\e62c";
}
.icon-untitled44:before {
	content: "\e62d";
}
.icon-untitled45:before {
	content: "\e62e";
}
.icon-untitled46:before {
	content: "\e62f";
}
.icon-untitled47:before {
	content: "\e630";
}
.icon-untitled48:before {
	content: "\e631";
}
.icon-untitled49:before {
	content: "\e632";
}
.icon-untitled50:before {
	content: "\e633";
}
.icon-untitled51:before {
	content: "\e634";
}
.icon-untitled52:before {
	content: "\e635";
}
.icon-untitled53:before {
	content: "\e636";
}
.icon-untitled55:before {
	content: "\e637";
}
.icon-untitled56:before {
	content: "\e638";
}
.icon-untitled57:before {
	content: "\e639";
}
.icon-untitled58:before {
	content: "\e63a";
}
.icon-untitled59:before {
	content: "\e63b";
}
.icon-untitled61:before {
	content: "\e63c";
}
.icon-untitled62:before {
	content: "\e63d";
}
.icon-untitled63:before {
	content: "\e63e";
}
.icon-untitled64:before {
	content: "\e63f";
}
.icon-untitled65:before {
	content: "\e640";
}
.icon-untitled66:before {
	content: "\e641";
}
.icon-untitled67:before {
	content: "\e642";
}
.icon-untitled68:before {
	content: "\e643";
}
.icon-untitled69:before {
	content: "\e644";
}
.icon-untitled70:before {
	content: "\e645";
}
.icon-untitled71:before {
	content: "\e646";
}
.icon-untitled72:before {
	content: "\e647";
}
.icon-untitled73:before {
	content: "\e648";
}
.icon-untitled74:before {
	content: "\e649";
}
.icon-untitled75:before {
	content: "\e64a";
}
.icon-untitled76:before {
	content: "\e64b";
}
.icon-untitled77:before {
	content: "\e64c";
}
.icon-untitled78:before {
	content: "\e64d";
}
.icon-untitled79:before {
	content: "\e64e";
}
.icon-untitled80:before {
	content: "\e64f";
}
.icon-untitled81:before {
	content: "\e650";
}
.icon-untitled82:before {
	content: "\e651";
}
.icon-untitled83:before {
	content: "\e652";
}
.icon-untitled84:before {
	content: "\e653";
}
.icon-untitled85:before {
	content: "\e654";
}
.icon-untitled86:before {
	content: "\e655";
}
.icon-untitled87:before {
	content: "\e656";
}
.icon-untitled88:before {
	content: "\e657";
}
.icon-untitled89:before {
	content: "\e658";
}
.icon-untitled90:before {
	content: "\e659";
}
.icon-untitled91:before {
	content: "\e65a";
}
.icon-untitled92:before {
	content: "\e65b";
}
.icon-untitled93:before {
	content: "\e65c";
}
.icon-untitled94:before {
	content: "\e65d";
}
.icon-untitled95:before {
	content: "\e65e";
}
.icon-untitled96:before {
	content: "\e65f";
}
.icon-untitled97:before {
	content: "\e660";
}
.icon-untitled98:before {
	content: "\e661";
}
.icon-untitled99:before {
	content: "\e662";
}
.icon-untitled100:before {
	content: "\e663";
}
.icon-untitled102:before {
	content: "\e665";
}
.icon-untitled103:before {
	content: "\e666";
}
.icon-untitled104:before {
	content: "\e667";
}
.icon-untitled105:before {
	content: "\e668";
}
.icon-untitled106:before {
	content: "\e669";
}
.icon-untitled109:before {
	content: "\e66c";
}
.icon-untitled110:before {
	content: "\e66d";
}
.icon-untitled111:before {
	content: "\e66e";
}
.icon-untitled112:before {
	content: "\e66f";
}
.icon-untitled113:before {
	content: "\e670";
}
.icon-untitled114:before {
	content: "\e671";
}
.icon-untitled115:before {
	content: "\e672";
}
.icon-untitled116:before {
	content: "\e673";
}
.icon-untitled117:before {
	content: "\e674";
}
.icon-untitled118:before {
	content: "\e675";
}
.icon-untitled119:before {
	content: "\e676";
}
.icon-untitled120:before {
	content: "\e677";
}
.icon-untitled121:before {
	content: "\e678";
}
.icon-untitled124:before {
	content: "\e67b";
}
.icon-untitled125:before {
	content: "\e67c";
}
.icon-untitled126:before {
	content: "\e67d";
}
.icon-untitled127:before {
	content: "\e67e";
}
.icon-untitled128:before {
	content: "\e67f";
}
.icon-untitled129:before {
	content: "\e680";
}
.icon-untitled130:before {
	content: "\e681";
}
.icon-untitled131:before {
	content: "\e682";
}
.icon-untitled132:before {
	content: "\e683";
}
.icon-untitled133:before {
	content: "\e684";
}
.icon-untitled134:before {
	content: "\e685";
}
.icon-untitled135:before {
	content: "\e686";
}
.icon-untitled136:before {
	content: "\e687";
}
.icon-untitled137:before {
	content: "\e905";
}
.icon-untitled138:before {
	content: "\e906";
}
.icon-untitled139:before {
	content: "\e91f";
}
.icon-untitled140:before {
	content: "\e922";
}
.icon-untitled141:before {
	content: "\e926";
}
.icon-untitled142:before {
	content: "\e93a";
}
.icon-untitled143:before {
	content: "\e93b";
}
.icon-untitled144:before {
	content: "\e93f";
}
.icon-untitled145:before {
	content: "\e942";
}
.icon-untitled147:before {
	content: "\e945";
}
.icon-untitled148:before {
	content: "\e95e";
}
.icon-untitled149:before {
	content: "\e965";
}
.icon-untitled150:before {
	content: "\e966";
}
.icon-untitled151:before {
	content: "\e967";
}
.icon-untitled152:before {
	content: "\e968";
}
.icon-untitled153:before {
	content: "\e969";
}
.icon-untitled154:before {
	content: "\e96a";
}
.icon-untitled155:before {
	content: "\e96b";
}
.icon-untitled156:before {
	content: "\e96c";
}
.icon-untitled157:before {
	content: "\e96e";
}
.icon-untitled158:before {
	content: "\e971";
}
.icon-untitled159:before {
	content: "\e973";
}
.icon-untitled160:before {
	content: "\e974";
}
.icon-untitled161:before {
	content: "\e975";
}
.icon-untitled162:before {
	content: "\e985";
}
.icon-untitled163:before {
	content: "\e986";
}
.icon-untitled164:before {
	content: "\e987";
}
.icon-untitled165:before {
	content: "\e991";
}
.icon-untitled166:before {
	content: "\e994";
}
.icon-untitled167:before {
	content: "\e995";
}
.icon-untitled169:before {
	content: "\e9ac";
}
.icon-untitled170:before {
	content: "\e9ad";
}
.icon-untitled171:before {
	content: "\e9b0";
}
.icon-untitled172:before {
	content: "\e9ba";
}
.icon-untitled173:before {
	content: "\e9bb";
}
.icon-untitled174:before {
	content: "\e9bd";
}
.icon-untitled175:before {
	content: "\e9bf";
}
.icon-untitled176:before {
	content: "\e9c0";
}
.icon-untitled178:before {
	content: "\e9d7";
}
.icon-untitled179:before {
	content: "\e9d9";
}
.icon-untitled180:before {
	content: "\e9da";
}
.icon-untitled181:before {
	content: "\ea0a";
}
.icon-untitled182:before {
	content: "\ea0b";
}
.icon-untitled183:before {
	content: "\ea0f";
}
.icon-untitled184:before {
	content: "\ea10";
}
.icon-untitled185:before {
	content: "\ea1c";
}
.icon-untitled186:before {
	content: "\ea1d";
}
.icon-untitled187:before {
	content: "\ea1e";
}
.icon-untitled188:before {
	content: "\ea1f";
}
.icon-untitled189:before {
	content: "\ea20";
}
.icon-untitled190:before {
	content: "\ea21";
}
.icon-untitled191:before {
	content: "\ea22";
}
.icon-untitled192:before {
	content: "\ea32";
}
.icon-untitled193:before {
	content: "\ea34";
}
.icon-untitled194:before {
	content: "\ea36";
}
.icon-untitled195:before {
	content: "\ea38";
}
.icon-untitled196:before {
	content: "\ea41";
}
.icon-untitled197:before {
	content: "\ea42";
}
.icon-untitled198:before {
	content: "\ea43";
}
.icon-untitled199:before {
	content: "\ea44";
}
.icon-untitled200:before {
	content: "\ea46";
}
.icon-untitled201:before {
	content: "\ea47";
}
.icon-untitled202:before {
	content: "\ea48";
}
.icon-untitled203:before {
	content: "\ea4c";
}
.icon-untitled204:before {
	content: "\ea4d";
}
.icon-untitled205:before {
	content: "\ea5b";
}
.icon-untitled206:before {
	content: "\ea77";
}
.icon-untitled207:before {
	content: "\ea7d";
}
.icon-untitled208:before {
	content: "\ea82";
}
.icon-untitled209:before {
	content: "\ea86";
}
.icon-untitled210:before {
	content: "\ea99";
}
.icon-untitled211:before {
	content: "\ea9a";
}
.icon-untitled212:before {
	content: "\eabd";
}
.icon-untitled213:before {
	content: "\eabe";
}
.icon-untitled214:before {
	content: "\eabf";
}
.icon-untitled215:before {
	content: "\eac1";
}
.icon-untitled216:before {
	content: "\eac2";
}
.icon-untitled217:before {
	content: "\eac3";
}
.icon-untitled218:before {
	content: "\eac6";
}
.icon-laptop:before {
	content: "\e600";
}
.icon-mouse:before {
	content: "\e605";
}
.icon-video:before {
	content: "\e606";
}
.icon-phone:before {
	content: "\e607";
}
.icon-th-menu:before {
	content: "\e664";
}
.icon-menu:before {
	content: "\e66a";
}
.icon-menu2:before {
	content: "\e66b";
}
.icon-computer:before {
	content: "\e608";
}
.icon-screen:before {
	content: "\e609";
}
.icon-screen2:before {
	content: "\e60a";
}
.icon-menu22:before {
	content: "\e679";
}
.icon-game-controller:before {
	content: "\e604";
}
.icon-mobile:before {
	content: "\e60b";
}
.icon-mobile2:before {
	content: "\e60c";
}
.icon-file-binary:before {
	content: "\e601";
}
.icon-mobile3:before {
	content: "\e60d";
}
.icon-camera:before {
	content: "\e602";
}
.icon-code:before {
	content: "\e603";
}
.icon-pacman:before {
	content: "\e916";
}
.icon-facebook:before {
	content: "\ea8c";
}
.icon-facebook2:before {
	content: "\ea8d";
}
.icon-facebook3:before {
	content: "\ea8e";
}
