<section class="contents-home-softwareMedida">

    <h3 class="software-title">
        Sistema de Géstion Comercial
    </h3>

    <div class="software-description">
        En mabit desarrollamos un Sistema de Gestión Comercial que le permite a Ud. tener el control total de la gestión de su Empresa desde el lugar en que se encuentre, utilizando para ello su Smartphone, tableta, Notebook o PC. Con o sin conexión a Internet.
    </div>

    <ul class="mabit-softwares-list">

            <li class="mabit-softwares-list-item  mabit-softwares-list-itemBlock">
                <div class="softwares-item-icon">
                    <span class="icon-mobile2"></span>
                </div>
                <a href="#" class="softwares-item-title">Muy simple de usar</a>
                              
                <p class="softwares-item-text">
                    Nuestro sistema funciona con todos los Sistemas Operativos</p> 
            </li>

            <li class="mabit-softwares-list-item  mabit-softwares-list-itemBlock">
                <div class="softwares-item-icon">
                    <span class="icon-untitled171"></span>
                </div>
                <a href="#" class="softwares-item-title">Gestión Integral de su Stock.</a>
                              
                <p class="softwares-item-text">
                           Permite agrupar los artículos ingresados por Rubros, familias y Subfamilias. 
            
                    </p> 
            </li>

            <li class="mabit-softwares-list-item  mabit-softwares-list-itemBlock">
                <div class="softwares-item-icon">
                    <span class="icon-untitled77"></span>
                </div>
                <a href="#" class="softwares-item-title"> Gestión de Clientes y Proveedores.</a>
                              
                <p class="softwares-item-text">
                    Puede crear Listas de Precios de forma ilimitada. 
                    Generación de archivos para presentación en C.I.T.I Compras y Ventas.</p> 
            </li>

    </ul>

    <div class="message-FacturaE">
        <span class="icon-untitled26"></span>
        A este Sistema se le puede incorporar nuestro Módulo de Factura Electrónica, realice su consulta.
    </div>            

    <div class="messageForms">
        <span class="messageError"></span>
        <span class="messageExito"></span>
    </div>           

    <form id="form"class="softwareMedida-form">
        <h2 class="softwareMedida-form-title">
            <span class="softwareMedida-form-title-icon icon-untitled209"></span>    
        Relice su consulta:</h2>
        <input id="formEmpresa"class="softwareMedida-form-formInput"  type="text" placeholder="Empresa"name="formEmpresa"required/>
        <input id="formNombre"class="softwareMedida-form-formInput"  type="text" placeholder="Nombre y Apellido"name="formNombre"required/>
        <input id="emailForm"class="softwareMedida-form-formInput" type="email" placeholder="Email" name="formEmail"required/>
        <input id="formTelefono"class="softwareMedida-form-formInput" type="number" min="8" placeholder="Teléfono" name="formTelefono"required/>
        <textarea id="formData"class="softwareMedida-form-textarea" name="formData"placeholder="Escriba aquí su consulta" required></textarea>
            
            <div class="g-recaptcha" data-sitekey="6LeK8gkTAAAAAPCNFQd83KIVR0fItH5QZxDiEzr3"></div>

             <input type="hidden" name="formFour">

             <input type="hidden" name="formOrigin" value="Gestión Comercial">
    
        <button class="softwareMedida-form-button submitColor">
            <span class="softwareMedida-form-button-icon icon-untitled209"></span> 
             Contactarnos
        </button>
    </form>
</section> 

<script src='https://www.google.com/recaptcha/api.js'></script>

<script> 
    var url ="js/gestionComercial-controller.js"
     jQuery.getScript(url);
</script>  