                <section class="Slider">
                    <div class="Slider-container">
                        <ul class="rslides">
                            <li>
                                <img src="images/slider/mabitRI.png" alt="Mabit Recursos Informáticos" title="Mabit Recursos Informáticos" width="1024" height="400"></li>
                            <li>
                                <img src="images/slider/tecnologias.png" alt="Tecnologías empleadas" title="Tecnologías empleadas" width="1024" height="400"></li>
                            <li>
                                <img src="images/slider/facturaElectronica.png" alt="Factura Electrónica" title="Factura Electrónica" width="1024" height="400"></li>
                            <li>
                                <img src="images/slider/productos.png" alt="Productos" title="Productos" width="1024" height="400"></li>
                        </ul>
                    </div>
                </section>
                                        
                <section id="mabit"class="mabit">
                                                            
                    <h2 class="mabit-title">
                        <span class="mabit-title-icon icon-laptop"></span>
                        <span class="mabit-title-text">Desarrollo de Software a medida</span>
                    </h2>

                    <article class="mabit-description">
                        <p class="mabit-description-mark">mabit</p> es una Empresa dedicada al desarrollo e implementación de Sistemas de Gestión, Sitios Web y Soluciones informáticas integrales a medida. 
                    </article>

                    <article class="mabit-softwares">
                                        
                        <ul class="mabit-softwares-list">
                            <li class="mabit-softwares-list-item list-item-front">
                                <div class="softwares-item-icon">
                                    <span class="icon-untitled141"></span>
                                </div>
                                <a id="buttonFacturaE"href="#Factura_Electrónica" class="softwares-item-title">Factura Electrónica</a>
                                              
                                <p class="softwares-item-text">
                                    Factura A, B y C. Cumple con todos los requisitos de la AFIP</p> 
                            </li>
                            
                            <li class="mabit-softwares-list-item list-item-front">
                                <div class="softwares-item-icon">
                                    <span class="icon-mobile2"></span>
                                </div>
                                    <a id="buttonGestion"href="#Gestión_Comercial" class="softwares-item-title"> Gestión Comercial</a> 
                                    <p class="softwares-item-text">
                                        El control total de su empresa desde una Tablet, Smartphone o PC con o sin conexión a Internet
                                    </p> 
                            </li>
                        </ul>
                                    
                    </article>

                        <div class="messageForms">
                            <span class="messageError"></span>
                            <span class="messageExito"></span>
                        </div>

                        <div class="mabit-mailing" href="#sales"> 

                        

                            <div class="mabit-mailing-box">                 
                                <form id="form">
                                    <input id="emailForm" type="email" class="mabit-mailing-box-input" name="formEmail"placeholder="Ofertas en tu Email" required>

                                   <input type="hidden" name="formIndex">
                               
                                    <button class="mabit-mailing-box-input-submit">
                                        <span class="icon-untitled75"></span>
                                    </button>

                                    <div class="g-recaptcha" data-sitekey="6LeK8gkTAAAAAPCNFQd83KIVR0fItH5QZxDiEzr3"
                                    >
                                    </div>                         
                                </form>
                            </div>
                        </div>
                </section>

<script src='https://www.google.com/recaptcha/api.js' async></script> <script> 
    var url ="js/home-controller.js"
     jQuery.getScript(url);
</script>               