<section class="hardware">

    <h3 class="hardware-title">
        Hardware Informático 
    </h3>
    
    <ul class="hardware-menu">
        <li id="pcEscritorio" class="hardware-menu-item">
            <figure class="hardware-menu-item-figure opacity">
                <img class="hardware-menu-item-figure-image opacity"src="images/item/pc.png" alt="" width="100" height="100">
            </figure>
            <figcaption  class="hardware-menu-item-figure-caption">
                <a  href="#PC_de_Escritorio" class="hardware-menu-item-figure-caption-link">Pc Escritorio</a> 
            </figcaption>
        </li>
        <li id="tablets" class="hardware-menu-item">
            <figure class="hardware-menu-item-figure opacity">
               <img class="hardware-menu-item-figure-image opacity"src="images/item/tablet.jpg" alt="" width="100" height="100">
            </figure>
            <figcaption class="hardware-menu-item-figure-caption">
                <a href="#Tablets" class="hardware-menu-item-figure-caption-link">Tablets</a> 
            </figcaption>
        </li>
        <li id="perifericos" class="hardware-menu-item">
            <figure class="hardware-menu-item-figure opacity">
                <img class="hardware-menu-item-figure-image opacity"src="images/item/auricular.jpg" alt="" width="100" height="100">
            </figure>
            <figcaption class="hardware-menu-item-figure-caption">
                <a href="#Periféricos" class="hardware-menu-item-figure-caption-link">Periféricos</a> 
            </figcaption>
        </li>
        <li id="telefonia" class="hardware-menu-item">
            <figure class="hardware-menu-item-figure opacity">
                <img class="hardware-menu-item-figure-image opacity"src="images/item/powerBank.jpg" alt="" width="100" height="100">
            </figure>
            <figcaption class="hardware-menu-item-figure-caption">
                <a href="#Telefonía" class="hardware-menu-item-figure-caption-link">Accesorios Telefonía</a> 
            </figcaption>
        </li>
    </ul>


    <article  id="shipping"class="shipping">
        <div class="shipping-truck">     
            <div class="shipping-truck-p">
                <span class="truck icon-untitled134"></span>
                    Hacemos Envíos hacia todo el país
            </div>
            <div class="shipping-truck-p">Consulte su costo</div>
        </div>
    </article>

</section>


<script> 
    var url ="js/hardware-controller.js"
     jQuery.getScript(url);
</script>   
